/* SPDX-License-Identifier: AGPL-3.0-or-later */

#placeholder {
    width: 720px;
    height: 408px;
    background-color: #000000;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 102px;
    color: #FFFFFF;
}

body > p {
    font-family: "Liberation Mono", monospace;
}
