#placeholder {
    width: 720px;
    height: 408px;
    background-color: #000000;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 102px;
    color: #FFFFFF;
}
